
.title {
  color:rgb(245, 6, 245);
  text-align: center;
}
p {
  color:rgb(245, 6, 245);
  text-align:center;
}

.container{
  display: block;  
  margin: 15px;
}
.item{
display: block;
width:500px;
margin:auto;
}