
.title {
  color:rgb(245, 6, 245);
  text-align: center;
}
p {
  color:rgb(245, 6, 245);
  text-align:center;
}

.container{
  display: block;  
  margin: 15px;
}
.item{
display: block;
width:500px;
margin:auto;
}
.main{
  background-color:rgb(255,0,0);
}

.caracteristics li{
  text-align:center;
  color:rgb(245,6,245);
  list-style:none;
}
.caracteristics  h2 {
  text-align:center;
}
.favorites-songs {
  text-align:center;
  list-style:none;
}
